<ion-header>
    <header-component [color]="'danger'" [title]="'스터디 만들기 (2/2)'" ></header-component>
</ion-header>

<ion-content class="outer-content">

    <ion-list >
        <ion-list-header>
            <ion-icon name="calendar" item-start></ion-icon>
            <span>스터디 일정</span>
        </ion-list-header>
        <ion-item>
           <!-- <ion-icon name="calendar" item-start></ion-icon>-->
            <ion-label>시작 예정일</ion-label>
            <ion-datetime
                    cancelText="취소"
                    doneText="확인"
                    displayFormat="YYYY년 M월 D일"
                    [min]="startDate"
                    [max]="'2018'"
                    [(ngModel)]="startDate"
                    placeholder="선택"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label >
                <span >스터디 목표 일정</span>
            </ion-label>
            <ion-range min="10" max="120" step="10" snaps="true" pin="true" [(ngModel)]="period" >
                <ion-badge range-right >D-{{period}} (일)</ion-badge>
            </ion-range>

        </ion-item>
    </ion-list>
    <br>
    <ion-list>
        <ion-list-header>
            <ion-icon name="people" item-start></ion-icon>
            <span>제한 인원</span>
        </ion-list-header>
        <ion-item>
            <ion-range min="2" max="15" step="1" snaps="true" pin="true" [(ngModel)]="memberMaxCount" color="danger">
                <ion-badge range-right color="danger">{{memberMaxCount}} 명</ion-badge>
            </ion-range>
        </ion-item>
    </ion-list>

        <div padding>
            <button ion-button block color="danger" (click)="createGroup()" >생성</button>
        </div>
</ion-content>


