<ion-header>
    <ion-toolbar>
        <ion-title>
            카테고리 선택
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <ion-icon name="arrow-back"  color="primary"></ion-icon>&nbsp;<span ion-text color="primary" >닫기</span>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="outer-content" no-padding="">
    <ion-searchbar (ionInput)="searchCategory($event)" [placeholder]="'카테고리 검색'" ></ion-searchbar>
    <ion-list>
        <div *ngFor="let category of categoryList; let i = index">
            <ion-list-header class="category-header" *ngIf="category.start === true">
                {{category.CateName01}}
            </ion-list-header>
            <ion-item  [ngClass]="{ 'btn-add': selectedCategory.hasOwnProperty(category.CateId02), 'btn-remove': !selectedCategory.hasOwnProperty(category.CateId02)}">
                <ion-label [color]="selectedCategory.hasOwnProperty(category.CateId02) ? 'primary' :''"> {{category.CateName02}}</ion-label>
                <button ion-button [outline]="!selectedCategory.hasOwnProperty(category.CateId02)" item-end (click)="onSelectToggle(category)">
                    <span *ngIf="!selectedCategory.hasOwnProperty(category.CateId02)">선택</span>
                    <span *ngIf="selectedCategory.hasOwnProperty(category.CateId02)">선택완료</span>
                </button>
            </ion-item>
        </div>


</ion-content>

<ion-footer>
        <button ion-button full large class="selected-btn" [disabled]="seletedCount() === 0"  (click)="saveCategory()" >
            <span >선택</span>
        </button>
</ion-footer>

