<button class="list-group-item" ion-item *ngFor="let group of groupList">
  <ion-thumbnail class="list-group-header " item-start>
    <span class="list-group-header-cate1">{{group.CateName01}}</span>
  </ion-thumbnail>
  <button  ion-button icon-only  outline>
    <span>{{group.CateName02}}</span>
  </button>
  <button  ion-button icon-only  outline>
    <span>D - {{group.GroupPeriod}}</span>
  </button>
  <button  ion-button icon-only  outline>
    <ion-icon name="people"></ion-icon>
    <span>(1 / {{group.GroupLimitMembers}}) </span>
  </button>
  <h2 class="list-group-title">{{group.GroupName}}</h2>
  <p>
    <span class="list-group-sub split" > |</span>
    <span class="list-group-sub">{{group.GroupLocation}}</span>
    <span class="list-group-sub split" > |</span>
    <span class="list-group-sub">시작예정일 - {{group.GroupStartDatetime}}</span>
    <span class="list-group-sub split" > |</span>
  </p>
</button>