<ion-header>
    <ion-toolbar>
        <ion-title>
            관심 카테고리 선택
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <ion-icon name="arrow-back"  color="primary"></ion-icon>&nbsp;<span ion-text color="primary" >닫기</span>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
    <ion-searchbar (ionInput)="searchCategory($event)" [placeholder]="'카테고리 검색'" ></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let category of categoryList" [ngClass]="{ 'btn-add': selectedCategory.hasOwnProperty(category.CateId02), 'btn-remove': !selectedCategory.hasOwnProperty(category.CateId02)  }">
            <!--<ion-icon name="paw" item-start color="danger"></ion-icon>-->
            <ion-label [color]="selectedCategory.hasOwnProperty(category.CateId02) ? 'primary' :''">{{category.CateName01}} / {{category.CateName02}}</ion-label>
            <button ion-button [outline]="!selectedCategory.hasOwnProperty(category.CateId02)" item-end (click)="onSelectToggle(category)">
                <span *ngIf="!selectedCategory.hasOwnProperty(category.CateId02)">선택</span>
                <span *ngIf="selectedCategory.hasOwnProperty(category.CateId02)">선택완료</span>
            </button>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
        <button ion-button full large class="selected-btn" [disabled]="selectedCategory.length === 0"  (click)="saveCategory()" >
             선택 &nbsp;<span *ngIf="seletedCount() !== 0">(<span>{{seletedCount()}}</span>/5)</span>
        </button>
</ion-footer>

