<ion-header>
    <ion-toolbar>
        <ion-title>
            관심 카테고리
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <ion-icon name="arrow-back"  color="primary"></ion-icon>&nbsp;<span ion-text color="primary" >닫기</span>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="outer-content">
    <ion-list>
        <button ion-item *ngFor="let category of categoryList">
            {{category.CateName01}} / {{category.CateName02}}
        </button>
    </ion-list>
</ion-content>

<ion-footer>
    <button ion-button full large class="selected-btn" (click)="move($PAGE.USER_SEL_CATEGORY)" >
        추가하기
    </button>
</ion-footer>