<ion-header>
    <header-component ></header-component>
</ion-header>

<ion-content class="card-background-page outer-content">
    <div [ngSwitch]="isAuthenticated()">
        <div *ngSwitchCase="true">
            <ion-card class="my-info" >
                <ion-card-header>
                    {{user.Email}}
                </ion-card-header>
                <ion-card-content>
                    {{user.Name}}
                    <button ion-button small outline (click)="logout()" >로그아웃</button>
                </ion-card-content>
            </ion-card>
            <ion-list >
                <button ion-item (click)="pop($PAGE.USER_CATEGORY)" >
                    관심 카테고리
                </button>
            </ion-list>
        </div>

        <ion-card class="my-info" *ngSwitchCase="false">

            <ion-card-header>
                로그인 되어 있지 않습니다.
            </ion-card-header>
            <ion-card-content>
                <!-- Add card content here! -->
                <button ion-button block (click)="moveLoginPage()" >로그인</button>
                <button ion-button block outline (click)="moveJoinPage()">회원가입</button>
                <span><a herf="#;">비밀번호가 기억나지 않으십니까?</a></span>
            </ion-card-content>
        </ion-card>
    </div>

    <ion-list >
        <ion-list-header>
            기본정보
        </ion-list-header>

        <button ion-item>
            공지사항
        </button>
        <button ion-item>
            도움말
        </button>
        <ion-item>
            버전정보
            <ion-note item-end>
                Beta
            </ion-note>
        </ion-item>
    </ion-list>


    <ion-list *ngIf="isAuthenticated()">
        <ion-list-header>
            알림 설정
        </ion-list-header>

        <ion-item>
            <ion-icon name='link' color="primary" item-start></ion-icon>
            <ion-label>
                1:1 알림 설정
            </ion-label>
            <ion-toggle checked="true"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-icon name='link' color="primary" item-start></ion-icon>
            <ion-label>
                스터디 공지사항 알림 설정
            </ion-label>
            <ion-toggle checked="true"></ion-toggle>
        </ion-item>
    </ion-list>


</ion-content>



