//IOS Header 컴포넌트화 문제로 CSS 추가 작성
@mixin headerComponentStyle{
  padding-top: calc(20px + 4px);
  min-height: calc(44px + 20px);
}



.ios ion-header {
  .searchbar-ios {
    min-height: 35px;
  }

  header-component {
    .toolbar.statusbar-padding:first-child {
      @include headerComponentStyle;
    }

    .header-nav > .toolbar-background.toolbar-background-ios {
      //border-width: 0;
    }

    //IOS Title Margin
    .header-title > .toolbar-title{
      padding-top: 13px;
    }

  }
}

/*.ios ion-tab > .ion-page > ion-header > header-component {
  .toolbar.statusbar-padding:first-child {
      @include headerComponentStyle;
  }


}

.ios ion-menu > .menu-inner > ion-header > header-component {
  .toolbar.statusbar-padding:first-child {
      @include headerComponentStyle;
  }
}*/


