<ion-tabs>
    <ion-tab [root]="$PAGE.HOME" tabTitle="메인" tabUrlPath="main"  tabIcon="home"></ion-tab>
    <ion-tab [root]="$PAGE.STUDY_LIST" tabTitle="스터디 찾기" tabUrlPath="study" tabIcon="search"></ion-tab>
    <ion-tab [root]="$PAGE.MYPAGE" tabTitle="옵션" tabUrlPath="options" tabIcon="settings"></ion-tab>
</ion-tabs>