page-register {

  .list-ios[inset] > .item:last-child, .list-ios[inset] > .item-wrapper:last-child .item {
    border-bottom: 1px solid #c8c7cc;
  }

  .list-md[inset] .item:last-child{
    border-bottom: 1px solid #dedede;
  }

  .label-ios[floating], .register-btn{
    font-size: 13px;
  }

}