<ion-header>
    <header-component [title]="'회원가입 페이지'" ></header-component>
</ion-header>

<ion-content class="login-content" >
    <div class="login-box">
        <form  [formGroup]="joinForm" (ngSubmit)="onRegister()">
            <ion-row>
                <ion-col>
                    <ion-list inset>
                        <ion-item>
                            <ion-label floating><ion-icon name="person"></ion-icon>&nbsp;이름</ion-label>
                            <ion-input type="text" placeholder="" name="Name" formControlName="Name" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label floating><ion-icon name="laptop"></ion-icon>&nbsp;이메일</ion-label>
                            <ion-input type="text" placeholder="" name="Email" formControlName="Email" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label floating><ion-icon name="key"></ion-icon>&nbsp;비밀번호</ion-label>
                            <ion-input type="password" placeholder="" name="Password" formControlName="Password" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label floating><ion-icon name="key"></ion-icon>&nbsp;비밀번호 확인</ion-label>
                            <ion-input type="password" placeholder="" name="Password_confirmation" formControlName="Password_confirmation" required></ion-input>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="signup-col" padding>
                    <button ion-button class="submit-btn" full type="submit" [disabled]="!joinForm.valid || isProcessing" >
                        <ion-spinner  class="spinner-energized" *ngIf="isProcessing" ></ion-spinner>회원가입
                    </button>
                    <button ion-button class="register-btn" type="button" block clear (click)="onBack()" >이전 페이지로 돌아가기</button>
                </ion-col>
            </ion-row>
        </form>
    </div>
</ion-content>