<ion-content class="tutorial-page">

  <ion-slides >

    <ion-slide *ngFor="let slide of slides">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary" (click)="move()">넘어가기</button>
        </ion-buttons>
      </ion-toolbar>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2><br>
      <p [innerHTML]="slide.description"></p>
      <img [src]="slide.image" class="slide-image"/>
    </ion-slide>

    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <h2 class="slide-title">RealTudy에서 진정한 모임을</h2>
      <button ion-button large clear icon-end color="primary" (click)="move()">
        시작하기
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>