page-home {

  .home-header{
    width: 100%;
    height: 60px;
    background-color: #3b3c3c;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
  }


  .list-group-header{
    border: 1px solid #e5e5e5;
    text-align: center;
    padding-top: 19px;
  }

  .list-group-sub.split{
    color: #f53d3d;
  }

  .list-group-sub{
    font-size: 10px;
  }

  .list-group-title{
    font-size: 13px;
    padding-top: 3px;
    font-weight: bolder;
  }

  .item-md ion-thumbnail {
    min-width: 56px;
    min-height: 56px;
  }

  button.item-ios:not([detail-none]){
    .item-inner{
      background-image: none;
      padding-right: 0;
      border: 0;
    }
  }

  .list-group-item{
    border-bottom: 1px solid #dedede;
  }

  .list-md .item-block .item-inner {
    border-bottom: 0;
  }

  .content-background{
    background-color: #f4f4f7;
  }

}
