<ion-header>
    <header-component ></header-component>
</ion-header>

<ion-content class="content-background" no-padding >
    <div class="home-header">
        <div>
            나의 스터디
        </div>
    </div>

    <ion-card *ngFor="let group of groupList" (click)="studyLink(group)">

        <ion-item>
            <ion-avatar item-start>
                <span class="list-group-header-cate1">{{group.CateName01}}</span>
            </ion-avatar>
            <h2>{{group.GroupName}}</h2>
            <p>
                <span class="list-group-sub split" > |</span>
                <span class="list-group-sub">{{group.GroupLocation}}</span>
                <span class="list-group-sub split" > |</span>
                <span class="list-group-sub">시작예정일 - {{group.GroupStartDatetime}}</span>
                <span class="list-group-sub split" > |</span>
            </p>
        </ion-item>

        <hr>
        <ion-card-content>
            <p>{{group.GroupDescription}}</p>
        </ion-card-content>
        <hr>
        <ion-row>
            <ion-col>
                <button ion-button  text-center clear small icon-start>
                    <ion-icon name="people"></ion-icon>
                    <span>인원 (1/{{group.GroupLimitMembers}}) </span>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button  text-center clear small icon-start>
                    <ion-icon name='calendar'></ion-icon>
                    <span>남은기간 D-{{group.GroupPeriod}}</span>
                </button>
            </ion-col>
            <ion-col align-self-center text-center>
                <ion-badge  >
                    준비중
                </ion-badge>
            </ion-col>
        </ion-row>

    </ion-card>

    <ion-item text-center *ngIf="loading">
        <ion-spinner  class="spinner-energized"  ></ion-spinner>
        로딩중입니다.
    </ion-item>


</ion-content>