<ion-navbar  no-border-bottom [color]="color">
    <div *ngIf="search">
        <ion-searchbar [placeholder]="'검색'" ></ion-searchbar>
    </div>
    <button ion-button  icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="toolbar-title" *ngIf="!search">
        {{title}}
    </ion-title>
    <!--<ion-buttons  end *ngIf="user">
        <button ion-button icon-only color="royal" (click)="action()">
            <ion-icon name="person" ></ion-icon >
        </button>
    </ion-buttons>-->
</ion-navbar>