
<ion-menu [content]="mainContent">
    <ion-header>
        <ion-toolbar>
            <ion-title>
                메뉴
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content id="side-menu21">
        <ion-list id="side-menu21-list1">
            <ion-item-sliding>
                <ion-item color="dark" href="mailto:" id="side-menu21-list-item12" class="user ">
                    <ion-avatar item-left>
                    </ion-avatar>
                    <h2>
                        이신일님
                    </h2>
                </ion-item>
                <ion-item-options side="left">
                    <button ion-button color="calm">
                        123231
                    </button>
                    <button ion-button color="positive">
                        10.
                    </button>
                    <button ion-button color="dark">
                        47456
                    </button>
                </ion-item-options>
            </ion-item-sliding>
            <ion-item-sliding>
                <ion-item color="none" id="side-menu21-list-item8">
                    카테고리
                    <ion-icon name="square" item-right></ion-icon>
                </ion-item>
                <ion-item-options side="left">
                    <button ion-button color="positive">
                        dasd
                    </button>
                </ion-item-options>
            </ion-item-sliding>
            <ion-item color="none" id="side-menu21-list-item10">
                HOT & 신상
            </ion-item>
            <ion-item color="none" id="side-menu21-list-item13">
                커플들의 놀이터
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>



<ion-nav   #mainContent [root]="rootPage"></ion-nav>