<ion-header>
    <header-component [title]="'로그인 페이지'" ></header-component>
</ion-header>

<ion-content class="login-content" padding>
    <div class="login-box">
        <form  [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <ion-row>
                <ion-col>
                    <ion-list inset>
                        <ion-item>
                            <ion-label floating ><ion-icon name="laptop"></ion-icon>&nbsp;이메일</ion-label>
                            <ion-input type="email" placeholder="" name="Email" formControlName="Email" required [value]="cid"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label floating><ion-icon name="key" ></ion-icon>&nbsp;패스워드</ion-label>
                            <ion-input type="password" placeholder="" name="Password" formControlName="Password" required></ion-input>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="signup-col" padding>
                    <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.valid || isProcessing" >
                        <ion-spinner  class="spinner-energized" *ngIf="isProcessing" ></ion-spinner>로그인
                    </button>
                    <button ion-button type="button" class="register-btn"  clear (click)="moveRegisterPage()" >아직 회원이 아니십니까? </button>
                    <button ion-button type="button" class="register-btn"  clear (click)="onBack()" >돌아가기</button>
                </ion-col>
            </ion-row>
        </form>
    </div>
</ion-content>