<ion-header>
    <ion-navbar  no-border-bottom >
        <ion-segment [color]="'danger'" [(ngModel)]="selectedSegment" (ionChange)="segmentUpdate($event)" >
            <ion-segment-button value="{{item.value}}" *ngFor="let item of segmentList" >
                {{item.name}}
            </ion-segment-button>
        </ion-segment>
    </ion-navbar>
    <ion-toolbar no-border-top >
        <button ion-button  icon-only menuToggle>
            <ion-icon name="menu" [color]="'danger'"></ion-icon>
        </button>
        <div *ngIf="selectedSegment === 'all'">
            <ion-searchbar [color]="'danger'" [placeholder]="'검색'"  [(ngModel)]="search.text" (ionInput)="onSearchInput($event)" [formControl]="searchControl" ></ion-searchbar>
        </div>
        <div  *ngIf="selectedSegment !== 'all'">
            맞춤형 스터디를 제공합니다.
        </div>
        <ion-buttons *ngIf="selectedSegment === 'all'" end>
            <button ion-button icon-only (click)="presentFilter()">
                <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content >

    <ion-fab right bottom >
        <button ion-fab color="danger" (click)="createGroup($event)"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <div [ngSwitch]="selectedSegment">
        <ion-list  *ngSwitchCase="'all'">
            <ion-item text-center *ngIf="loading">
                <ion-spinner  class="spinner-energized"  ></ion-spinner>
                <p>로딩중입니다.</p>
            </ion-item>
            <div *ngIf="!loading" >
                <button class="list-group-item" ion-item  *ngFor="let group of groupList" (click)="studyLink(group)">
                    <ion-thumbnail class="list-group-header " item-start>
                        <span class="list-group-header-cate1">{{group.CateName01}}</span>
                    </ion-thumbnail>
                    <button class="list-group-header-item"  ion-button  outline >
                        <span>{{group.CateName02}}</span>
                    </button>
                    <button class="list-group-header-item"  ion-button  outline >
                        <span>D-{{group.GroupPeriod}}</span>
                    </button>
                    <button class="list-group-header-item"  ion-button  outline >
                        <ion-icon name="people"></ion-icon>&nbsp;<span> (1 / {{group.GroupLimitMembers}}) </span>
                    </button>
                    <h2 class="list-group-title">{{group.GroupName}}</h2>
                    <p>
                        <span class="list-group-sub split" > |</span>
                        <span class="list-group-sub">{{group.GroupLocation}}</span>
                        <span class="list-group-sub split" > |</span>
                        <span class="list-group-sub">시작예정일 - {{group.GroupStartDatetime}}</span>
                        <span class="list-group-sub split" > |</span>
                    </p>
                </button>
            </div>
        </ion-list>

        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingText="리스트 로딩 중입니다..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>

        <ion-list *ngSwitchCase="'target'">
        </ion-list>

    </div>

</ion-content>


