page-create-study {

  .input-group {
    background: #f8f8f8;
  }

  .about-info p {
    color: #697072;
    text-align: left;
  }

  .about-info ion-icon {
    color: color($colors, danger);
    width: 20px;
  }

  ion-label, .datetime-text, .select-text, .item-text{
    font-size: 12px;
  }

  .md,
  .wp {
    .about-info [text-right] {
      margin-right: 0;
    }
  }

  .ios .about-info {
    text-align: center;
  }

  .ios .about-info ion-icon {
    width: auto;
    margin-right: 10px;
  }

  .label-md{
    color:#999;
  }

  list-md {
    ion-item{
      border: 0;
      box-shadow: inset 0 0 0 0 #ffffff;
    }
  }

}