<ion-header>
    <header-component [color]="'danger'" [title]="'스터디 만들기'" ></header-component>
</ion-header>

<ion-content >

        <div padding class="about-info">
            <ion-list no-margin >
                <!--<ion-item>
                    <ion-icon name="calendar" item-start></ion-icon>
                    <ion-label>시작 날짜</ion-label>
                    <ion-datetime displayFormat="YYYY년 M월 D일" min="2017" max="2018"></ion-datetime>
                </ion-item>-->
                <ion-item>
                    <ion-icon name="pin" item-start></ion-icon>
                    <ion-label>지역 선택</ion-label>
                    <ion-select cancelText="취소" okText="확인" [(ngModel)]="location">
                        <ion-option  *ngFor="let item of locations" value="{{item.key}}" [selected]="location == item.key ? true : false">{{item.name}}</ion-option>
                    </ion-select>
                </ion-item>
                <button ion-item (click)="openCategory()" >
                    <ion-icon name="barcode" item-start></ion-icon>
                    <span>분류</span>
                    <span class="item-text" item-end *ngIf="category === null">선택</span>
                    <span class="item-text" item-end *ngIf="category !== null">{{category.CateName01}} / {{category.GroupCateName}}</span>
                </button>
            </ion-list>
        </div>
        <ion-list no-lines>
            <ion-item>
                <ion-label color="danger" stacked>달성 목표</ion-label>
                <ion-input class="input-group" type="text" [(ngModel)]="goal"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="danger">스터디 세부 내용</ion-label>
                <ion-textarea class="input-group" rows="6" required [(ngModel)]="description"></ion-textarea>
            </ion-item>
        </ion-list>

        <div padding>
            <button ion-button block type="submit"  [color]="'danger'" [disabled]="!isNext()" (click)="next();">생성</button>
        </div>
</ion-content>


